<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="conString" connectionString="Data Source=.;Initial Catalog=LoginRegistrationLogout;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="MyConnectionString" connectionString="Data Source=103.20.213.211;Initial Catalog=pddusdv_sis_erp;User ID=ptdeen; password=sis220011@#" />-->
    <add name="MyConnectionString" connectionString="Data Source=.;Initial Catalog=sis_erp;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="LoginRegistrationLogoutConnectionString" connectionString="Data Source=.;Initial Catalog=LoginRegistrationLogout;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>

</configuration>
